@CHARSET "ISO-8859-1";

html {
    font-size: 62.5%;
}

body {
    background-color: #fff;
    color: #000;
    font-family: "Century Gothic", helvetica, arial, sans-serif;
    font-size: 1.4em; /* equiv 14px */
    line-height: 1.5; /* adapt to your design */
}

html,
body {
    margin: 10px;
    padding-top: 20px;
}

h1, h2, h3, h4, h5, h6 { 
font-weight: bold; 
 text-align: center;
 }
 
 p{
 margin: 15 px;
 }
 

div#greatContainer{
	margin-left: 40px ; 
}

div#cloudContainer{
	margin: 20px;
	height: 300px;
	font-size: 2.0em; /* equiv 20px */
}

div#graphicContainer, div.message{
	margin: 20px;
}
h1.title{
	margin-bottom: 40px;
}
div#graphicContainer, div.about{
	padding-top: 30px;
}

.domain {
  fill: none;
  stroke: #000;
}

 div#hiddenCloudContainer, div#hiddenStatsContainer{
 	visibility: hidden;
 }
 
 div.panel{
 	padding: 0;
 }
 
 button.popoverButton{
 	margin-left: 5;
 	margin-right: 5;
 }
 
 h3.popover-title{
 	color: black;
 }
 
 div#requestStatusIcon, div#serverStatusIcon{
 	padding-top: 8px;
 	padding-bottom: 8px;
 }
 
 div.about{
 width: 60%;
  margin-left: auto;
  margin-right: auto;
 }
 
 div.thumbnail{
 width: 360px;
 height: 360px;
 }
 