@CHARSET "ISO-8859-1";

html {
    font-size: 62.5%;
}

body {
    background-color: #fff;
    color: #000;
    font-family: "Century Gothic", helvetica, arial, sans-serif;
    font-size: 1.4em; /* equiv 14px */
    line-height: 1.5; /* adapt to your design */
}

html,
body {
    margin: 10px;
    padding-top: 20px;
}

div#greatContainer{
	margin-left: 40px ; 
}

div#cloudContainer{
	margin: 20px;
	height: 300px;
	font-size: 2.0em; /* equiv 20px */
}

div#graphContainer, div.message{
	margin: 20px;
}
div#graphContainer{
	padding-top: 120px;
}

.domain {
  fill: none;
  stroke: #000;
}

 div#hiddenCloudContainer, div#hiddenStatsContainer{
 	visibility: hidden;
 }
 
div#launchGraphicButton, div#launchLearningButton {
 	margin: 10px;
 }
 
 div.panel{
 	padding: 0;
 }
 
 button.popoverButton{
 	margin-left: 5;
 	margin-right: 5;
 }
 
 h3.popover-title{
 	color: black;
 }
 
 div#requestStatusIcon, div#serverStatusIcon{
 	padding-top: 8px;
 	padding-bottom: 8px;
 }
 